*{
    margin: 0;
    box-sizing: border-box;
}

form{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input#task{
    width: 300px;
    height: 30px;
    border-style: hidden;
    background-color: #eee;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
}

button[type=submit]{
    padding: 0 20px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ccc;
}